/*
*  Copyright 2020 ThoughtWorks, Inc.
*  
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU Affero General Public License as
*  published by the Free Software Foundation, either version 3 of the
*  License, or (at your option) any later version.
*  
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU Affero General Public License for more details.
*  
*  You should have received a copy of the GNU Affero General Public License
*  along with this program.  If not, see <https://www.gnu.org/licenses/agpl-3.0.txt>.
*/
$tray_height: 80px;
$slot_height: 48px;
$slot_hover_height: 66px;

#deletion-tray {
  display: block;
  position:fixed;
  height: $tray_height;
  width: 100%;
  top: -$tray_height;
  @include linear-gradient(top, rgba(19,19,19,1) 0%, rgba(71,71,71,0) 100%, $fallback: transparent);
  @include transition-property(top);
  @include transition-duration(0.5s);

  &.visible {
    top: 0;
    z-index: 2;

    .slot {
      @include transform(rotate(225deg));
      margin-top: $tray_height - ($slot_height / 2);
      &.icon-hover {
        margin-top: $tray_height - ($slot_hover_height / 2)
      }
    }
  }

  .slot {
    @include transition-property(transform,width,height,border-radius,margin);
    @include transition-duration(0.7s,0.2s,0.2s,0.2s,0.2s);
    background:url("../images/background-cross.png") no-repeat center;
    display: block;
    position: relative;
    padding: 0;
    margin:  0 auto;
    height: $slot_height;
    width: $slot_height;
    border-radius: $slot_height / 2;
    border: 1px solid #888;

    .avatar {
      width: 48px;
      height: 48px;
      border-radius: 24px;
    }

    &.icon-hover {
      height: $slot_hover_height;
      width: $slot_hover_height;
      border-radius: $slot_hover_height / 2;
    }
  }
}
