/*
*  Copyright 2020 ThoughtWorks, Inc.
*  
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU Affero General Public License as
*  published by the Free Software Foundation, either version 3 of the
*  License, or (at your option) any later version.
*  
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU Affero General Public License for more details.
*  
*  You should have received a copy of the GNU Affero General Public License
*  along with this program.  If not, see <https://www.gnu.org/licenses/agpl-3.0.txt>.
*/

.mingle-icon-easter-egg {
  position: absolute;
  top: 25px;
  left: 7px;
  /* border: 1px solid red; */
  width: 7px;
  height: 7px;
}

.mingle-icon-easter-egg:hover:before {
  content: "\f06b";
  color: red;
}

[data-show-holiday-fun="true"] .mingle-icon-easter-egg {
  position: absolute;
  top: 13px;
  left: 14px;
  width: 21px;
  height: 21px;
  cursor: pointer;
}

[data-show-holiday-fun="true"] .mingle-icon-easter-egg:hover:before {
  display: none;
}

.game-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 15%;
    text-align: center;
}

.game-text p {
    margin: 10px 0;
}
.game-text a {
    font-size: 8px;
    text-decoration: underline;
}