/*
*  Copyright 2020 ThoughtWorks, Inc.
*  
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU Affero General Public License as
*  published by the Free Software Foundation, either version 3 of the
*  License, or (at your option) any later version.
*  
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU Affero General Public License for more details.
*  
*  You should have received a copy of the GNU Affero General Public License
*  along with this program.  If not, see <https://www.gnu.org/licenses/agpl-3.0.txt>.
*/
.wiki, .cke_editable {
  a, a.visited{
    color: $CONTENT_LINK_COLOR !important;
    text-decoration: underline !important;
  }

  a.ui-corner-all, a.tagit-close {
    color: black !important;
    text-decoration: none !important;
  }
}

.wiki .tagit-autocomplete {
  padding: 0px;
  font-size: 12px !important;
}

.wiki .ui-menu {
    padding: 2px;
}

.cke_contents.drop-target {
  box-shadow: 0px 0px 15px 4px #DCFF9B;
}

.cke_dialog_footer_buttons {
  .cke_disabled, .cke_disabled:hover, .cke_disabled:active, .cke_disabled:focus {
    padding: 3px 0;
    background: #ddd;
    color: #a0a0a0;
    border-color: #a0a0a0;
    border-width: 1px;
    cursor: default;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    span {
      cursor: default;
      padding: 0 12px;
    }
  }
}

.upload-placeholder {
  display: inline-block;
  padding: 5px;
  background: #eee;
  font-style: italic;
  color: #999;

  .fa-close{
    color: #333;
    cursor: pointer;

    &:hover {
      color: $CONTENT_LINK_COLOR;
    }
  }
}

.upload-error {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  opacity: 0.8;

  .error-entry {
    position: absolute;
    padding: 10px;
    border-radius: 7px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #333;
    color: white;
    font-size: 16px;
    max-width: 50%;

    .text-danger {
      color: #c00;
    }
  }
}

// this isn't really the place for this, but it's temporary
.attachment-remove.fa-times-circle {
  cursor: pointer;
  margin-left: 3px;
  font-size: 16px;
  color: #666;
}

@-webkit-keyframes slideDzMessage {
  0% {
    top: 50%;
    background: transparent;
    color: #333;
  }

  100% {
    top: 0%;
    background: rgba(0,0,0,0.7);
    color: white;
  }
}

@keyframes slideDzMessage {
  0% {
    top: 50%;
    background: transparent;
    color: #333;
  }

  100% {
    top: 0%;
    background: rgba(0,0,0,0.7);
    color: white;
  }
}

#attachments-container [data-panel-name="attachments"] {
  max-width: 706px;
  position: relative;
  padding-top: 40px;

  .attachments-dz-header {
    @include clearfix;
    margin-bottom: 15px;

    .click-upload {
      float: right;
      line-height: 24px;
      font-weight: bold;

      .fa {
        font-size: 12pt;
        vertical-align: middle;
        line-height: 12px;
      }
    }


    h4 {
      font-size: 18px;
      font-weight: 300;
      float: left;
      height: 31px;
      line-height: 60px;
      margin: 0;
    }
  }
}

[data-panel-name="attachments"] {
  .attachments-loading {
    display: none;
    padding: 10px;
    background-color: #f8f8f8;
    color: $MINGLE_PRIMARY_COLOR;
    border-bottom: 1px solid #ddd;
    text-align: center;
    position: relative;
  }

  .dropzone {
    position: relative;
    border: 1px solid #efefef;
    border-left: none;
    border-right: none;
    padding: 10px 0;
    min-height: 90px;
    margin: 0px;
    margin-bottom: 20px;

    &.dz-started {
      padding: 0;
    }

    .dz-message {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);

      margin: 0;
      font-weight: 300;
      font-size: 12px;
      text-transform: uppercase;

      white-space: nowrap;
      color: rgba(#666, 0.5);

      .fa {
        display: none;
      }
    }

    &.dz-drag-hover {
      &.dz-enabled {
        border: 1px dashed #666;
        border-radius: 2px;

        .dz-message {
          display: block;
          color: #666;

          i, span {
            line-height: 20px;
            vertical-align: middle;
          }

          .fa {
            display: inline-block;
            font-size: 16pt;
          }
        }

        .dz-preview {
          opacity: 0;

          .fa {
            display: none;
          }
        }
      }
    }

    .dz-preview {
      min-height: auto;
      display: block;
      margin: 0;
      padding: 4px 5px;

      &:nth-of-type(odd) {
        background: white;
      }

      &:nth-of-type(even) {
        background: #efefef;
      }

      [data-dz-errormessage] {
        display: none;
      }

      &.dz-error {
        -webkit-transition: background-color 0.2s linear;
        -moz-transition: background-color 0.2s linear;
        -ms-transition: background-color 0.2s linear;
        -o-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear;
        background-color: #fdc;

        .dz-filename {
          color: $DESTRUCTIVE_PRIMARY_COLOR;
          text-decoration: line-through;
        }

        &:hover {
          .dz-filename {
            text-decoration: none;
          }

          [data-dz-errormessage] {
            display: inline;
          }

          [data-dz-name] {
            display: none;
          }
        }

        .dz-progress {
          display: none;
        }

        .file-action, .file-action:hover, .file-action:active {
          .fa {
            cursor: default;
            background-color: transparent;
            border-color: $DESTRUCTIVE_PRIMARY_COLOR;
            color: $DESTRUCTIVE_PRIMARY_COLOR;
          }
        }

        .dz-remove {
          color: $DESTRUCTIVE_PRIMARY_COLOR;
        }
      }

      .dz-progress {
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 1px;
        background-color: #ccc;

        .dz-upload {
          background-color: rgb(10, 175, 91);
          -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          -webkit-transition: width 0.6s ease;
          transition: width 0.6s ease;
          background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
          background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
          background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
          background-size: 40px 40px;
          -webkit-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
        }
      }

      &:not(.dz-processing) .dz-progress {
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        -o-animation: none;
        animation: none;
      }

      &.save-in-progress {
        .dz-progress {
          opacity: 1;

          .dz-upload {
            background-color: rgb(10, 91, 175);
          }
        }
      }

      .dz-remove {
        text-decoration: none;
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 8px;
        color: #a3a3a3;
        cursor: pointer;

        &:hover {
          color: $DESTRUCTIVE_PRIMARY_COLOR;
        }

        &:active {
          color: $DESTRUCTIVE_SECONDARY_COLOR;
        }

        &:before {
          @include fa_icon($fa-var-times-circle);
        }
      }

      .dz-remove.disabled {
        display: none;
      }

      .dz-filename {
        display: inline-block;
        margin-left: 6px;
        max-width: 623px;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: default;
      }

      .file-action {
        display: inline-block;
        margin: 0;
        margin-right: 3px;

        .fa {
          cursor: pointer;
          background: white;
          color: $MINGLE_PRIMARY_COLOR;
          border: 1px solid $MINGLE_PRIMARY_COLOR;
          border-radius: 2px;
          width: 22px;
          height: 22px;
          line-height: 22px;
          font-size: 12pt;
          text-align: center;
        }

        &:hover {
          .fa {
            color: white;
            background: $MINGLE_PRIMARY_COLOR;
          }
        }

        &:active {
          .fa {
            color: white;
            background-color: $MINGLE_PRIMARY_ACTIVE;
            border-color: $MINGLE_PRIMARY_ACTIVE;
          }
        }
      }

    }

    .dz-preview > * {
      white-space: nowrap;
      line-height: 22px;
      vertical-align: middle;
    }

  }

}

.lightbox .flyout {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10003;

  height: 100%;

  &:after {
    content: "";
    @include flat-triangle(10px, #fff, left);
    position: absolute;
    top: 49.5px;
    right: -10px;
  }

  .panel-toggle {
    &:empty {
      display: none;
    }

    position: absolute;
    right: 0;
    top: 45px;
    z-index: 1000;
    margin: 0;
    padding: 0;

    color: white;
    text-align: center;
    cursor: pointer;

    li {
      list-style: none;
      font-size: 18px;
      width: 29px;
      background-color: $MINGLE_PRIMARY_COLOR;
      margin: 0;
      margin-bottom: 5px;

      .fa {
        line-height: 29px;
        height: 29px; // IE 11 still needs this
      }

      &:hover {
        background-color: darken($MINGLE_PRIMARY_COLOR, 20%);
      }
    }
  }

  &[data-current-panel=""]:after {
    display: none;
  }

  .panel-content {
    display: none;
    position: absolute;
    right: -310px;
    top: 0;
    background: white;
    width: 300px;
    min-height: 184px;
    height: 100%;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .panel-header {
      color: #666;

      font-weight: 300;
      font-size: 16px;
      line-height: 18px;
      height: 18px;

      margin: 10px 10px 5px;
    }
  }

  &[data-current-panel="attachments"] {

    [data-tooltip][data-for-panel="attachments"] {
      &:before, &:after {
        display: none;
      }
    }

    .panel-content[data-panel-name="attachments"] {
      display: block;

      .dropzone {
        height: calc(100% - 94px);
        overflow-y: auto;
      }
    }

  }

  &[data-current-panel="history"] {
    &:after {
      top: 83.5px;
    }

    [data-tooltip][data-for-panel="history"] {
      &:before, &:after {
        display: none;
      }
    }

    .panel-content[data-panel-name="history"] {
      display: block;

      .history-panel-container {
        overflow: hidden;
        height: calc(100% - 33px);
        padding: 0px;

        .renderable-events {
          max-height: 100%;
        }
      }
    }
  }

  &[data-current-panel="murmurs"] {
    [data-tooltip][data-for-panel="murmurs"] {
      &:before, &:after {
        display: none;
      }
    }

    .panel-content[data-panel-name="murmurs"] {
      display: block;
      .murmurs-card-discussion {
        height: calc(100% - 33px);

        .content {
          height: 100%;
          .thread {
            max-height: calc(100% - 67px);
          }
        }
      }
    }
  }

  .panel-content {

    &[data-panel-name="attachments"] {

      [data-total-files]:after {
        margin-left: 5px;
        content: "(" attr(data-total-files) ")";
      }

      .dropzone {
        position: static;
        margin: 0;
        padding-bottom: 20px;
        border: none;

        &.dz-drag-hover  {
          .dz-message {
            border: 1px dashed #666;
            border-radius: 2px;

            .body {
              top: 34px;
            }
          }
        }
      }

      .dz-message {
        top: 94px;
        right: 10px;
        left: 10px;
        bottom: 10px;
        transform: none;


        white-space: normal;

        .body {
          position: absolute;
          left: 0;
          top: 50px;

          line-height: 20px;
          width: 100%;
          padding: 0 5px;
        }
      }

      .click-upload {
        display: block;
        margin: 10px;
        margin-bottom: 20px;
        line-height: 22px;
        font-size: 14px;

        &.disabled {
          border: 1px #c9c9c9 solid !important;

          &:hover {
            background-color: #EEE !important;
          }
        }

        i.fa {
          font-size: 21px;
          position: relative;
          top: 3px;
        }
      }

      .dz-preview {

        .dz-filename {
          display: block;
          max-width: auto;
        }

        .file-action, .dz-remove {
          display: none;
        }

        .dz-remove {
          position: absolute;
          right: 5px;
          top: 4px;

          cursor: pointer;
          background: white;
          color: $MINGLE_PRIMARY_COLOR;
          border: 1px solid $MINGLE_PRIMARY_COLOR;
          border-radius: 2px;
          width: 22px;
          height: 22px;
          line-height: 22px;
          font-size: 12pt;
          text-align: center;
          padding: 2px 0 0 4px;

          &:before {
            content: $fa-var-trash-o;
          }
        }

        .dz-remove.disabled {
          color: gray;
          border-color: gray;
          background: #D3D3D3;
          cursor: default;
        }

        &:hover {

          border-left: 2px solid $MINGLE_PRIMARY_COLOR;
          padding-left: 3px;

          .file-action {
            display: block;
            float: right;

            &:first-of-type {
              margin-right: 25px;
            }
          }

          .dz-remove {
            display: block;

            &:hover {
              color: white;
              background: $DESTRUCTIVE_PRIMARY_COLOR;
              border-color: $DESTRUCTIVE_PRIMARY_COLOR;
            }

            &:active {
              color: white;
              background-color: $DESTRUCTIVE_SECONDARY_COLOR;
              border-color: $DESTRUCTIVE_SECONDARY_COLOR;
            }
          }

          .dz-remove.disabled {
            &:hover {
              color: gray;
              border-color: gray;
              background: #D3D3D3;
            }

            &:active {
              color: gray;
              border-color: gray;
              background: #D3D3D3;
            }
          }


        }
      }

    }

    &[data-panel-name="history"] {

      .events-loading {
        padding: 10px;
        background-color: #f8f8f8;
        color: $MINGLE_PRIMARY_COLOR;
        border-bottom: 1px solid #ddd;
        text-align: center;
        position: relative;
        z-index: 12;
      }

      .renderable-events {
        max-height: 490px;
        overflow-y: auto;
        padding: 15px 0px 15px 30px;

        #events {
          width: 250px;

          .history {
            display: none;
          }

          .event {
            margin-bottom: 5px;

            .user-icon img {
              top: 10px;
              height: 30px;
              width: 30px;
            }

            .event-content {
              margin-top: 10px;
            }
          }


          div:nth-of-type(2) {
            border-top: none;
          }
        }
      }


    }

  }
}

.card-popup-lightbox .flyout {
  &[data-current-panel="murmurs"] {
    &:after {
      top: 49.5px;
    }
  }

  &[data-current-panel="attachments"] {
    &:after {
      top: 83.5px;
    }
  }

  &[data-current-panel="history"] {
    &:after {
      top: 116.5px;
    }
  }
}
