/*
*  Copyright 2020 ThoughtWorks, Inc.
*  
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU Affero General Public License as
*  published by the Free Software Foundation, either version 3 of the
*  License, or (at your option) any later version.
*  
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU Affero General Public License for more details.
*  
*  You should have received a copy of the GNU Affero General Public License
*  along with this program.  If not, see <https://www.gnu.org/licenses/agpl-3.0.txt>.
*/
.text-file {
  padding-left: 1em;
}

#svn_browser a.parent {
  padding-left: 20px;
  background: url(../images/icon-parent.gif) no-repeat scroll center left;
}

table#svn_browser a.node-link {
	background-repeat: no-repeat;
	display: block;
	padding-left: 20px;	
}


#svn_browser .folder { 
	background: transparent url(../images/icon-folder.png) no-repeat scroll center left;
}

#svn_browser .file {
	background-image: url(../images/icon-file.png);
}

#file-container {
	margin: 1em;
	background-color: #E7E5DC;
}

/* the following is for syntax-highlighter */
.dp-highlighter
{
	font-family: "Consolas", "Courier New", Courier, mono;
	font-size: 12px;
	background-color: #E7E5DC;
	width: 99%;
	overflow: auto;
	margin: 1em 0em;
	padding-top: 1px; /* adds a little border on top when controls are hidden */
}

.dp-highlighter .bar
{
	padding-left: 45px;
}

.dp-highlighter.collapsed .bar, 
.dp-highlighter.nogutter .bar 
{
	padding-left: 0px;
}

.dp-highlighter ol 
{
	list-style: decimal !important; /* for ie */
	list-style: decimal-leading-zero !important; /* better look for others */
	background-color: #fff !important;
	margin: 0px 0px 1px 45px !important; /* 1px bottom margin seems to fix occasional Firefox scrolling */
	padding: 0px !important;
	color: #5C5C5C !important;
}

.dp-highlighter.nogutter ol
{
	list-style-type: none !important; 
	margin-left: 0px; 
}

.dp-highlighter ol li,
.dp-highlighter .columns div
{
	border-left: 3px solid #6CE26C;
	background-color: #f8f8f8;
	padding-left: 10px;
	line-height: 14px;
	list-style-position: outside !important;
	list-style-type: decimal-leading-zero !important;
	margin: 0 !important;
}

.dp-highlighter.nogutter ol li,
.dp-highlighter.nogutter .columns div
{
	border: 0;
}

.dp-highlighter .columns 
{
	color: gray;
	overflow: hidden;
	width: 100%;
}

.dp-highlighter .columns div 
{
	padding-bottom: 5px;
}

.dp-highlighter ol li.alt 
{
	background-color: #fff; 
}

.dp-highlighter ol li span 
{
	color: Black;
}

/* Adjust some properties when collapsed */

.dp-highlighter.collapsed ol 
{
	margin: 0px;
}

.dp-highlighter.collapsed ol li 
{ 
	display: none;
}

/* Additional modifications when in print-view */

.dp-highlighter.printing 
{
	border: none;
}

.dp-highlighter.printing .tools 
{
	display: none !important;
}

.dp-highlighter.printing li 
{
	display: list-item !important;
}

/* Styles for the tools */

.dp-highlighter .tools 
{
	padding: 3px 8px 3px 10px;
	font: 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: silver;
	background-color: #f8f8f8;
	text-align1: right;
	padding-bottom: 10px;
	border-left: 3px solid #6CE26C;
}

.dp-highlighter.nogutter .tools
{
	border-left: 0;
}

.dp-highlighter.collapsed .tools
{
	border-bottom: 0;
}

.dp-highlighter .tools a
{
	font-size: 11px;
	color: #330000;
	text-decoration: none;
	margin-right: 10px;
}

.dp-highlighter .tools a:hover
{
	color: red;
	text-decoration: underline;
}

/* About dialog styles */

.dp-about { background-color: #fff; margin: 0px; padding: 0px; }
.dp-about table { width: 100%; height: 100%; font-size: 11px; font-family: Tahoma, Verdana, Arial, sans-serif !important; }
.dp-about td { padding: 10px; vertical-align: top; }
.dp-about .copy { border-bottom: 1px solid #ACA899; height: 95%; }
.dp-about .title { color: red; font-weight: bold; }
.dp-about .para { margin: 0 0 4px 0; }
.dp-about .footer { background-color: #ECEADB; border-top: 1px solid #fff; text-align: right; }
.dp-about .close { font-size: 11px; font-family: Tahoma, Verdana, Arial, sans-serif !important; background-color: #ECEADB; width: 60px; height: 22px; }

/* Language specific styles */

.dp-highlighter .comment, .dp-highlighter .comments { color: #008200; }
.dp-highlighter .string { color: blue; }
.dp-highlighter .keyword { color: #069; font-weight: bold; }
.dp-highlighter .preprocessor { color: gray; }
