/*
*  Copyright 2020 ThoughtWorks, Inc.
*  
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU Affero General Public License as
*  published by the Free Software Foundation, either version 3 of the
*  License, or (at your option) any later version.
*  
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU Affero General Public License for more details.
*  
*  You should have received a copy of the GNU Affero General Public License
*  along with this program.  If not, see <https://www.gnu.org/licenses/agpl-3.0.txt>.
*/
.macro-edit-button {
  /* set the background gradient */
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 48%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(48%, #eeeeee), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 48%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 48%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 48%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 48%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
  /* IE6-9 */
  padding: 2px 3px;
  border-radius: 3px;
}

.wiki {
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, Helvetica;
  color: #000;
  margin-bottom: 10px;
  #tags-container {
    margin-bottom: 10px;
  }
  h2, h3 {
    font-weight: 700;
  }
  h2 em, h3 {
    font-style: normal !important;
  }
  p, ul, ol {
    line-height: 140%;
  }
  p {
    margin-bottom: 10px;
  }
  ul, ol {
    margin: 0 0 10px 10px;
  }
  a.error_link {
    color: #CC2200;
  }
}

/* error classes */

a.non-existent-wiki-page-link {
  color: #CC2200;
  &:link {
    color: #CC2200;
  }
}

/*fix bug in ie6 #2602: give extra space to ol, then the maximum order number is 999 */
/* but also fix bug #8145 (numbers greater than 99 were not showing up properly) */

.wiki {
  ul, ol {
    padding-left: 20px;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  strong {
    font-weight: bold;
  }
  em, cite {
    font-style: italic;
  }
  table {
    margin-bottom: 10px;
    width: auto;
    border: 1px solid #CCC;
  }
  tbody {
    border: none !important;
  }
  td {
    border: 1px solid #CCC;
    background-color: #FFF;
  }
  th {
    background: #EEE;
    border: 1px solid #CCC;
  }
}

/* Wiki tables */

.bar-chart a {
  font-size: 225%;
}

.wiki img.chart {
  width: 100%;
}

/* Dashboard */

#main #content.wiki .to-be-scrolled {
  overflow-x: auto;
}

.wiki .yui-g {
  clear: both;
  .yui-u, .yui-g {
    width: 49.99%;
    float: left;
  }
}

/* set the width on the parent guy so you can avoid this 49.1% yahoo nonsense  */

/* put left margin on the right one, and right margin on the left one. */

.yui-u .dashboard-half-panel {
  margin-left: 5px;
  overflow: auto;
}

.first .dashboard-half-panel {
  margin-left: 0;
  margin-right: 5px;
}

.dashboard-panel h2, .dashboard-half-panel h2 {
  border: 0;
  border-bottom: 1px dotted #CCC;
  padding: 10px 0 !important;
  margin: 0 10px 10px 10px;
  font-weight: 300;
}

.dashboard-panel .dashboard-content h2, .dashboard-half-panel .dashboard-content h2 {
  text-align: left;
}

p.dashboard-content {
  border-top: none;
  overflow: auto;
  padding: 10px;
  h2 {
    margin: 0 0 10px 0;
  }
}

li.dashboard-content {
    padding: 0;
}

.dashboard-panel span.error, .dashboard-half-panel span.error {
  color: #900;
  font-weight: normal;
  font-style: italic;
  font-size: 11px;
}

.dashboard-content img {
  margin: auto;
}

a.non-existent-wiki-page-link {
  background: transparent url(../images/shared/icons/icon_add_wiki_small.png) no-repeat scroll top right;
  padding-right: 14px;
  &:link {
    background: transparent url(../images/shared/icons/icon_add_wiki_small.png) no-repeat scroll top right;
    padding-right: 14px;
  }
  &:visited {
    color: #A55858;
  }
}

/* Page editing */

#content-nav {
  background-color: #F0F0EE;
  li {
    a {
      display: block;
      float: left;
      padding: 0.3em 1em;
    }
    &.menu-item a.plain {
      background: none;
      margin-right: -1.25em;
    }
    &.current-menu-item! a {}
  }
}

/* preview list in editor page */

#content-panel-container {
  margin-bottom: 10px;
}

.preview-panel-container fieldset, #content-panel-container fieldset {
  padding: 0;
  clear: both;
  margin-bottom: 0;
}

#page_form textarea {
  padding: 0 0 0 4px;
  width: 100%;
  font-family: monaco, "Consolas", "Courier New", courier, monospace;
  font-size: 11px;
}

#page_content {
  border: 1px solid #ccc;
  border-top: 0;
}

.preview-panel-container {
  overflow: auto;
}

.preview-panel {
  background: #eeeeee url(../images/preview.png) repeat scroll top left;
  padding: 10px;
  padding-top: 0;
  min-height: 25em;
}

#plan_dashboards_edit .preview-panel {
  background: #eeeeee url(../../../images/preview.png) repeat scroll top left;
}

/* Attachments */

#attachments {
  margin: 10px 0;
  ul {
    margin: 5px 10px 10px 10px;
  }
}

.macro-placeholder {
  border: solid 1px black;
  width: 400px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.editor {
  margin: 0;
  padding: 10px 8px;
}

.cke_panel_listItem {
   font-size: 14px;
   list-style: none;
   font-family: "Helvetica Neue", Arial, Helvetica;
   color: #000;
   h2, h3 {
     font-weight: 700;
   }
   h3 {
     font-style: normal !important;
   }
   h1 {
     border-bottom: 0px;
     padding-bottom: 0px;
   }
}
