!.gitignore
*.iml
*.log
*.swp
*.swn
*.swo
*.tmproj
*_packaged.*
.DS_Store
.dtr_env_pstore
.er/
.idea/workspace.xml
/INSTALL
/UPGRADE
activemq-data/
build.properties
config/database.yml
config/perforce_config.yml
config/web.xml
data/*
db/development_structure.sql
dist/
elastic_search_data
help/build
log/*
mingle.iws
/config/mingle.properties
out/
plugin_data
public/attachments/*
public/help
public/murmur_status/murmur_status
public/plugin_assets/*
public/project/*
public/user/*
public/assets/*
set_env.sh
test/reports/*
test/gauge/smokeTests/src/test/java/twist.properties
test/gauge/smokeTests/sahi/
test/gauge/sahi/userdata/browser/
test/gauge/smokeTests/reports/
test/gauge/smokeTests/gauge_bin/
test/gauge/smokeTests/out/
test/gauge/smokeTests/logs/
test/unit/loaders/timestamps.yml
tmp/*
tmtags
/vendor/bundle
/.bundle
development/build_gems/**/cert_override.txt
.sass-cache/
public/plugins
.tags
test/data/migrations/
/test/config/database.yml.luaupair.cruby_pg
/test/config/database.yml.luaupair.jruby_pg
mingle.war
/.aws
/profile.out
/config/aws.yml.back
/profile.txt
test/**/log/*
test/**/tmp/*
script/configure_jvm.bat
script/configure_jvm.sh
tools/run
tools/run.bat
test/gauge/plannerTests/reports/*
test/gauge/plannerTests/.gauge/*
test/gauge/plannerTests/.gradle/*
test/gauge/plannerTests/build/*
.test_runner_spec
vendor/bundled/*
WEB-INF/lib/*.jar
test/gauge/plannerTests/.idea/*
jshint.errors
.idea/inspectionProfiles/
.idea/kotlinc.xml
.idea/libraries/compass_library.xml
.idea/watcherTasks.xml
lib/version.jar
config/database.yml.new_rails
lib/dual-app-dispatcher.jar
rails_5_assets_config.yml
ROOT.war
rails_5.war
.idea/.generators
.idea/libraries/diffutils_1_3_0.xml
META-INF/context.xml
config/secrets.yml
config/shared_assets.yml
shared_assets.yml
coverage/*
public/javascripts/Highcharts-2.2.3/
