<!DOCTYPE html>
<%# 
Copyright 2020 ThoughtWorks, Inc.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/agpl-3.0.txt>.
-%>

<html>
<head>
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <title><%= h page_title %></title>

  <%= stylesheet_link_tag("sprockets_app") %>
  <%= stylesheet_link_tag("install") %>
  <%= stylesheet_link_tag("print", :media => 'print') %>

  <%= raw(yield(:stylesheets)) -%>
  <%= render :partial => 'layouts/metrics' %>
  <%= javascript_include_tag("sprockets_app") %>

  <link rel="shortcut icon" href="<%= image_path('/favicon.ico') %>" />
  <link rel="apple-touch-icon" href="<%= image_path('/apple-touch-icon.png') %>" />
</head>

<body id="saas-tos">
  <div id="doc" class="yui-t7">
    <div id='hd'>
      <div id="hd-top">
        <div id="title">
        </div>
        <div class='clear-both'><!-- Clear floats --></div>
      </div>
    </div>
    <div id="bd">
      <div id="yui-main">
        <div class="yui-b" id="main">
          <div class='main_inner'>
            <%= yield %>
            <div class='ie-margin-collapse-fix'>&nbsp;</div>
          </div>
        </div>
      </div>
    </div>

    <div id="ft">
      <ul id="support">
        <% if MingleConfiguration.saas? && !User.current.anonymous? %>
            <li>
              <% ajax_link(:action => "new", :controller => "feedback") do %>
                  Contact us
              <% end %>
            </li>
        <% end %>
        <li>
          <% ajax_link(:action => "contact_us", :controller => "about") do %>
              Help
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div id="state" style="display:none">{% currentState %}</div>
</body>
</html>
