<!--
Copyright 2020 ThoughtWorks, Inc.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/agpl-3.0.txt>.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">
  <!--
  <display-name>Uncomment and put name :here: for Tomcat Dashboard</display-name>-->

  <context-param>
    <param-name>public.root</param-name>
    <param-value>/public</param-value>
  </context-param>
  <context-param>
    <param-name>rails.env</param-name>
    <param-value>development</param-value>
  </context-param>
  <context-param>
    <param-name>rails.root</param-name>
    <param-value>/</param-value>
  </context-param>
<!--  <context-param>
    <param-name>gem.path</param-name>
    <param-value>/vendor/bundled/jruby/2.3.0</param-value>
  </context-param>-->
  <context-param>
    <param-name>jruby.min.runtimes</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <param-name>jruby.max.runtimes</param-name>
    <param-value>1</param-value>
  </context-param>

  <filter>
    <filter-name>RackFilter</filter-name>
    <filter-class>org.jruby.rack.RackFilter</filter-class>
    <async-supported>false</async-supported>
  </filter>
  <filter-mapping>
    <filter-name>RackFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
      <servlet-name>RackServlet</servlet-name>
      <servlet-class>org.jruby.rack.RackServlet</servlet-class>
  </servlet>

  <servlet-mapping>
       <servlet-name>RackServlet</servlet-name>
       <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>org.jruby.rack.rails.RailsServletContextListener</listener-class>
  </listener>

</web-app>
